body {
  background-image: url('1920.jpg') ;
  width: 100vw;
  height: 100vh;
  padding-top: 40px;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

.top-hero-container {
  padding-top: 100px;
  h1 {
    font-size: 56px;
    margin-bottom: 20px;
  }
  h2 {
    margin-bottom: 60px;
  }
}

.nav-item {
    color: white;
}

.dropdown {
  list-style: none;
  margin: 35px 0 0 30px;
  font-size: 20px;
}

.dropdown-toggle {
  color: white;
  text-shadow: 1px 0 5px
}


.calendar-contents {
  color: black;
  border-radius: 10px;
  text-align: center;
  margin-bottom: 5px;
  font-size: 0.9vw;
}

.clear {
  float: none;
}